---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
import { client } from "../lib/sanity";

// Dette er en "GROQ-query" – Sanitys eget spørrespråk
const posts = await client.fetch(`*[_type == "post"]{title}`);

---

<h1>Velkommen til Tryllemuseet</h1>
<ul>
  {posts.map((post) => (
    <li>{post.title}</li>
  ))}
</ul>